<div class="col-lg-10 shadow my-2 py-2">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Booking Confirmation</h4>
    </div>
    <div class="card-body">
      <h1>Greeting from Webinari</h1>
      <h3>Hello <%= @customer.full_name%>
        <p class="lead"> Ypur booking for <strong><%= @workshop.name%> has been confirmed. Please check the booking
            details giving below.</strong></p>

        <%==     @svg %>
    </div>
  </div>
</div>